@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

.brand-logo {
    font-family: 'Grand Hotel', cursive;
}

.auth-btn {
    margin-right: 10px;
}

.my-card {
    margin-top: 50px;
}

.auth-card {
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 10px auto;   
}

.btn-submit-post {
    margin-left: 37%;
}
#toast-container {
    top: 20px !important;
    right: 30px !important;
    left: auto !important;
}
i.material-icons.icon-thumb:hover,
i.material-icons:hover
{
    cursor: pointer;
}
.user-info {
    display: flex; 
    justify-content: space-around; 
    margin: 16px 0px; 
    border-bottom: 1px solid rgb(204, 204, 204); 
    padding: 48px;
}
a {
    text-decoration: none !important;
}